.links {
}

.link {
  display: inline-block;
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.1rem;
}

.links .active {
  color: rgba(255, 255, 255, 0.85);
}

.link:hover {
  /* color: white; */
}

.navbar {
  color: white;
  transition: 0.2s;
}

nav.navbar {
  z-index: 10;
  height: var(--navbar-height);
}

.navbar a {
  color: white;
}

.navbar.active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  /* animation: nav 1s linear */
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: 600;
}

/* @keyframes nav {
    100%{
        transform: translateY(-100%)
    }
} */

nav .logOut-btn {
  border: 1px solid transparent;
  font-weight: 500;
  margin-left: 5px;
  transition: 0.2s;
}

.logOut-btn:hover {
  color: white;
  background-color: #d32f2f !important;
}

.links .profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .logOut-btn {
    width: 8rem;
    margin-left: 0px;
    margin-top: 10px;
  }
}
