.navbar-brand a {
  letter-spacing: 2px;
  font-size: 22px;
}

@media screen and (max-width: 991px) {
  .navbar-menu {
    position: absolute;
    top: var(--navbar-height);
    right: 0;
    width: 140px;
    margin-inline: 10px;
    text-align: center;
    padding-inline: 10px;
    background-color: rgb(65, 65, 65);
    border-radius: 2px;
  }
}

.navbar .navbar-toggler {
  border: 1px solid transparent;
  color: white;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
  border: 1px solid transparent;
}

.navbar .navbar-toggler:hover {
  /* border: 1px solid rgb(122, 122, 122); */
}

.navbar .navbar-toggler-icon {
  color: black;
}
.link {
  font-size: 1rem;
}

.links .active {
  color: rgba(255, 255, 255, 0.85);
}

.navbar {
  color: white;
}

nav.navbar {
  z-index: 10;
  height: var(--navbar-height);
  transition: 0.2s;
}

.navbar a {
  color: white;
}

.navbar-brand {
  font-size: 1.4rem;
}

/* @keyframes nav {
    100%{
        transform: translateY(-100%)
    }
} */

nav .logOut-btn {
  border: 1px solid transparent;
  font-weight: 500;
  margin-left: 5px;
  transition: 0.2s;
}

.logOut-btn:hover {
  color: white;
  background-color: #d32f2f !important;
}

.links .profile-pic {
  display: inline-block;
  --box: 30px;
  height: var(--box);
  width: var(--box);
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .logOut-btn {
    width: 8rem;
    margin-left: 0px;
    margin-top: 10px;
  }
}
