.mySwiper {
  @apply w-[90%];
}

@media screen and (min-width: 640px) {
  .mySwiper {
    width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .mySwiper {
    width: 700px;
  }
}

@media screen and (min-width: 900px) {
  .mySwiper {
    width: 860px;
  }
}

@media screen and (min-width: 1080px) {
  .mySwiper {
    width: 1000px;
  }
}

@media screen and (min-width: 1280px) {
  .mySwiper {
    width: 1200px;
  }
}
@media screen and (min-width: 1400px) {
  .mySwiper {
    width: 1280px;
  }
}

.mySwiper .swiper-button-next:after,
.mySwiper .swiper-button-prev:after {
  color: white;
  color: black;
  font-weight: 900;
  font-size: 1rem;
}

.mySwiper :is(.swiper-button-next, .swiper-button-prev) {
  --box: 40px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: white;
  width: var(--box);
  height: var(--box);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(24, 24, 24, 0.8);
  transition: 500ms;
}

/* .mySwiper :is(.swiper-button-next:hover, .swiper-button-prev:hover) {
   background-color: rgba(0, 0, 0, 0.603); 
}

.mySwiper :is(.swiper-button-prev, .swiper-rtl .swiper-button-next) {
  /* left: 0; 
}

.mySwiper :is(.swiper-button-next, .swiper-rtl .swiper-button-prev) {
  /* right: 0; 
} */

.mySwiper .swiper-pagination {
  /* @apply static mt-12; */
  @apply relative mt-20 hidden;
}

.mySwiper .swiper-pagination-bullet {
  --box: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  width: var(--box);
  height: var(--box);
  transition: 250ms;
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active {
  --box: 11px;
  background-color: rgb(212, 212, 212);
  width: var(--box);
  height: var(--box);
}
