.banner-heading {
  @apply xl:text-9xl lg:text-8xl md:text-[4.7rem] sm:text-[4rem] xs:text-5xl text-banner-sm leading-none uppercase sm:font-semibold font-extrabold text-white transition-all;
}

.animate-fade {
  animation: fade 500ms linear;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeOut {
  animation: fadeOut 500ms linear;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
