.card {
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.266);
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  --color: rgb(223, 34, 34);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: var(--color);
  border: none;
  box-shadow: 0 0 1px 1px #1a1a1a;
  cursor: pointer;
  height: 18px;
  width: 10px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: var(--color);
  border: none;
  box-shadow: 0 0 1px 1px #222222;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
