.triangle {
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--review-card-bg) transparent;
}

.bgReviews {
  background-image: var(--gray-to-dark);
}
