.single-review {
  border: 1px solid rgba(128, 128, 128, 0.239);
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.429);
}

.single-review p {
  /* display: inline-block; */
  /* max-width: 300px; */
  /* width: 100%; */
  /* word-wrap: break-word; */
}

.single-review h4 {
  font-size: 0.9em;
  display: inline-block;
}
