@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.explore {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.05)); */
  background-image: linear-gradient(#010953db, #004e92);
  padding-top: 10px;
}
