@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  /* color-scheme: light dark; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
* {
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  font-family: "Roboto", sans-serif;
  --navbar-height: 64px;
  --section-mt: calc(var(--navbar-height) * -1);
}
