@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color-scheme: light dark; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --navbar-height: 5rem;
  --bg-gray: #303030;
  --bg-dark: #161616;
  --review-card-bg: rgb(24, 24, 24);
  --dark-to-gray: linear-gradient(180deg, black 0%, var(--bg-gray) 100%);
  --gray-to-dark: 180deg, var(--bg-gray) 0%, var(--bg-gray) 80%,
    var(--bg-dark) 100%;
}

body {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
}

* {
  @apply font-Lato;
}

.p-section {
  @apply sm:px-20 px-5 py-4;
}

svg {
  @apply inline-block;
}
